<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Gestor de tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 
    <ion-input type="text" label="Task Name" labelPlacement="floating" [(ngModel)]="taskName" class="ion-text-center"></ion-input>
    <ion-input type="text" label="Task Description" labelPlacement="floating" [(ngModel)]="taskDescription" class="ion-text-center"></ion-input>
    <ion-button (click)="addTask(taskName || '', taskDescription || '')" expand="full">Add Task</ion-button>
    <ion-button (click)="editTask(taskSelected?.id || 0, taskName || '', taskDescription || '')" expand="full">Edit Task</ion-button>
    <ion-button (click)="deleteTask(taskSelected?.id || 0)" class="ion-stack-self-auto" expand="full">Delete Task</ion-button>
  
    <ion-list *ngIf="tasks.length > 0">
      <ion-item *ngFor="let task of tasks" 
                (click)="selectTask(task)"
                [ngClass]="{'selected-task': taskSelected?.id === task.id}">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ task.description }} </ion-card-subtitle>
            <ion-card-title>{{ task.title }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>
    

</ion-content>
